<app-tool-bar></app-tool-bar>
<div class="mails">
    <app-labels-bar></app-labels-bar>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
    <app-mail-template></app-mail-template>
</div>
