<header>
    <div class="logo-menu">
        <i class="fa-solid fa-bars" title="Menu"  (click)="openMenu()"></i>
        <img src="./assets/Images/logo.png" alt="">
    </div>
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass" (click)="searchMail()"></i>
        <input type="text" placeholder="Search mail" [(ngModel)]="search">
        <i class="fa-solid fa-sliders"></i>
    </div>
    <div class="settings-icon">
        <i class="fa-solid fa-circle-question"></i>
        <i class="fa-solid fa-gear"></i>
        <i class="fa-solid fa-list-check"></i>
        <i class="fa-solid fa-user-large" (click)="logOut()"></i>
    </div>
</header>

<div class="logout" *ngIf="isLogoutClicked">
    <div class="popup">
        <p>Are you want to logout ?</p>
        <div class="button">
            <button class="cancel" (click)="cancelLogout()">Cancel</button>
            <button class="ok-logout" (click)="yesLogOut()">Logout</button>
        </div>
    </div>
</div>