<header>
    <div class="logo-menu">
        <i class="fa-solid fa-bars" title="Menu" (click)="openMenu()"></i>
        <img src="./assets/Images/logo.png" alt="">
    </div>
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search mail">
        <i class="fa-solid fa-sliders"></i>
    </div>
    <div class="settings-icon">
        <i class="fa-solid fa-circle-question"></i>
        <i class="fa-solid fa-gear"></i>
        <i class="fa-solid fa-list-check"></i>
        <i class="fa-solid fa-user-large"></i>
    </div>
</header>