header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.2px solid #ccc;
    padding: 8px 0px;
    .logo-menu{
        margin-left: 20px;
        display: flex;
        align-items: center;
        i{
            margin-right: 15px;
            padding: 12px 13px;
            font-size: 1.2em;
            cursor: pointer;
            color: rgba(86, 75, 75, 0.8);
        }
        i:hover{
            background-color: #eee;
            border-radius: 50%;
        }
        img{
            width: 110px;
        }
    }
    .search-bar{
        display: flex;
        align-items: center;
        width: 55%;
        background-color: #f1f3f4;;
        border-radius: 10px;
        justify-content: space-around;
        padding: 2px 10px;
        i{
            font-size: 1.2em;
            padding: 12px 13px;
            border-radius: 50%;
            cursor: pointer;
            color: rgba(86, 75, 75, 0.8);
        }
        i:hover{
            background-color: #ccc;
        }
        input{
            outline: none;
            border: none;
            width: 100%;
            padding: 8px;
            background-color: #f1f3f4;;
        }
    }
    .settings-icon{
        padding-top: 0px;
        font-size: 1.2em;
        i{
            margin-right: 10px;
            padding: 12px 13px;
            cursor: pointer;
            color: rgba(86, 75, 75, 0.8);
        }
        i:hover{
            background-color: #f1f3f4;
            border-radius: 50%;
        }
    }
}

.logout{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.1);

    .popup{
        position: relative;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 400px;
        font-weight: 680;
        .button{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 1rem 0rem;
            button{
                outline: none;
                background-color: #fff;
                border: none;
                padding: 10px 40px;
            }
            .cancel{
                border: 1.5px solid #318CE7;
               
                border-radius: 8px;
            }
            .cancel:hover{
                background-color: #318CE7;
                color: #fff;
            }
            .ok-logout{
                background-color: #318CE7;
                border-radius: 8px;
                border: 1.5px solid #318CE7;
                color: #fff;
            }
            .ok-logout:hover{
                color: #fff;
            }
        }
        
    }
}

@media(max-width:1020px){
    header{
        .logo-menu{
            img{
                display: none;
            }
        }
        .settings-icon{
            i{
                display: none;
            }
        }
    }
}