<div class="mail">
    <header>
        <h1>{{mailDetails.mailBody}}</h1>
    </header>
    <div class="mail-details"> 
        <div class="logo-options">
            <div class="logo">
                <i class="fa-solid fa-user"></i>
                <div class="des">
                    <label>{{mailDetails.mailTo}} < {{mailDetails.mailTo}} > </label><br>
                    <small>to me <i class="fa-solid fa-caret-down"></i></small>
                </div>
            </div>
        </div> 
        <div class="options">
            <small>{{mailDetails.dateAndTime}}</small>
            <i *ngIf="isStarred" class="fa-solid fa-star" (click)="starredMethod()" ></i>
            <i *ngIf="!isStarred" class="fa-regular fa-star" (click)="starredMethod()" ></i>
            <i class="fa-solid fa-reply" title="reply" (click)="reply()"></i>  
            <i class="fa-solid fa-ellipsis-vertical" (click)="getMoreOptions()"></i>  
        </div> 
    </div>
    
    <div class="more-options" *ngIf="isMoreOptionsClicked">
        <ul> 
            <li (click)="reply()"> 
            <i class="fa-solid fa-reply" ></i>Reply </li>
            <li (click)="forward()">
                <i class="fa-solid fa-share" ></i>Forward</li>
            <li class="li">Filter</li>
            <li class="li">Report Spam</li>
            <li class="li">Report Phishing</li>
            <li class="li">Translate mail</li>
            <li class="li">Download mail</li>
        </ul>
    </div>
    
    <div class="mail-body">
        <div [innerText]="mailDetails.subject" class="pre"></div>
    </div>
    <div class="buttons">
        <button (click)="reply()"> <i class="fa-solid fa-reply" title="reply" ></i> Reply</button>
        <button (click)="forward()"> <i class="fa-solid fa-share" > </i>Forward</button>
    </div>
</div>
