.compose-mail{
    .write-mail{
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            background-color: #ccc;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            p{
                padding-top: 8px;
                font-weight: 680;
            }
            .icons{
                i{
                    cursor: pointer;
                    margin-right: 1rem;
                    font-size: 1.2em;
                    
                }
            }
        }
        .mail-body{
            form{
                .form-group{
                    input{
                        border: none;
                        outline: none;
                        padding: 13px;
                        width: 90%;
                        border-bottom: 1.2px solid #ccc;
                    }
                }
                .bcc{
                    display: flex;
                    align-items: center;
                    // margin-right: 10px;
                    justify-content: space-between;
                    small{
                        margin-right: 10px;
                        padding-bottom: 11px;
                        cursor: pointer;
                        border-bottom: 1.2px solid #ccc;
                    }
                    small:hover{
                        text-decoration: underline;
                    }
                }
                .mail-des{
                    width: 100%;
                    textarea{
                        margin-top: .8em;
                        border: none;
                        outline: none;
                        width: 90%;
                        font-family: roboto;
                        padding: 13px;

                        // border: 1.2px solid #eee;
                    }
                }
                .buttons{
                    padding: 10px;
                    button{
                        outline: none;
                        border: 1.2px solid darkblue;
                        background-color: darkblue;
                        color: #fff;
                        padding: 10px 30px;
                        border-radius: 7px;
                    }
                }
            }
        }
    }
}