.tool-bar{
    display: flex;
    align-items: center;
    margin-top: 5px;
    border-bottom: 1.2px solid #ccc;
    padding-bottom: 5px;
    .check-box{
        display: flex;
        align-items: center;
        padding: 3px;
        border-radius: 8px;
        margin-right: 8px;
        input{
            zoom: 1.5;
        }
        i{
            color: rgba(86, 75, 75, 0.8);
            cursor: pointer;
        }

    }
    .checked{
        border: 1.2px solid #cccc;
        background-color: #eee;
    }
    .tools{
        i{
            font-size: 1.2em;
            margin-right: 8px;
            cursor: pointer;
            color: rgba(86, 75, 75, 0.8);
           
            padding: 12px 13px;
            border-radius: 50%;
        }
        i:hover{
            background-color: #f1f3f4;
        }
        .fa-ellipsis-vertical{
            padding: 11px 18px;
        }

    }
}
.check-menu{
    // position: relative;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        background-color: #FFF;
        box-shadow: 0 0 10px 0 rgb(0 0 0/25%);
        width: 180px;
        position: absolute;
        margin-left: 2rem;
        top: 7rem;
        li{
            padding: 8px;
            text-align: center;
            cursor: pointer;
        }
        li:hover{
            background-color: #eee;
        }
    }
}
.read-all{
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
       
        background-color: #FFF;
        box-shadow: 0 0 10px 0 rgb(0 0 0/25%);
        width: 280px;
        position: absolute;
        margin-left: 8rem;
        top: 7rem;
        li{
            padding: 10px;
            cursor: pointer;
        }
        li:hover{
            background-color: #f1f3f4;
        }
    }
}
.read-all-1{
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
       
        background-color: #FFF;
        box-shadow: 0 0 10px 0 rgb(0 0 0/25%);
        width: 280px;
        position: absolute;
        margin-left: 31rem;
        top: 7rem;
        li{
            padding: 10px;
            cursor: pointer;
        }
        li:hover{
            background-color: #f1f3f4;
        }
    }

}

.delete{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.1);

    .popup{
        position: relative;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 400px;
        font-weight: 680;
        border-bottom: 2px solid #318CE7;
        border-right:2px solid #318CE7;
        .button{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 1rem 0rem;
            button{
                outline: none;
                background-color: #fff;
                border: none;
                padding: 10px 40px;
            }
            .cancel{
                border: 1.5px solid #318CE7;
               
                border-radius: 8px;
            }
            .cancel:hover{
                background-color: #318CE7;
                color: #fff;
            }
            .ok-delete{
                background-color: #318CE7;
                border-radius: 8px;
                border: 1.5px solid #318CE7;
                color: #fff;
            }
            .ok-delete:hover{
                color: #fff;
            }
        }
        
    }
}