<div class="tool-bar">
    <div *ngIf="!isEnableCheckBox" class="check-box" [ngClass]="isChecked ? 'checked':''">
        <input type="checkbox" (input)="checked()">
        <i class="fa-solid fa-caret-down" (click)="getReadOptions()"></i>
    </div>
    <div class="tools">
        <i *ngIf="isEnableCheckBox" class="fa-solid fa-arrow-left" (click)="goBack()"></i>
        <i *ngIf="!isEnableCheckBox" class="fa-solid fa-arrow-rotate-right"></i>
        <i *ngIf="isChecked || isEnableCheckBox" class="fa-solid fa-square-caret-down"></i>
        <i *ngIf="isChecked || isEnableCheckBox" class="fa-solid fa-circle-exclamation"></i>
        <i *ngIf="isChecked || isEnableCheckBox" class="fa-solid fa-trash" (click)="toDelete()"></i>
        <i *ngIf="isChecked || isEnableCheckBox" class="fa-solid fa-envelope-open"></i>
        <i *ngIf="isChecked || isEnableCheckBox" class="fa-solid fa-clock"></i>
        <i *ngIf="isChecked || isEnableCheckBox" class="fa-solid fa-circle-check"></i>
        <i *ngIf="isChecked || isEnableCheckBox" class="fa-solid fa-tag"></i>
        <i class="fa-solid fa-ellipsis-vertical" (click)="getMarkAsReadOptions()"></i>
    </div>
</div>

<div class="check-menu" *ngIf="hasReadOptions">
    <ul>
        <li *ngFor="let option of readOptionsList" (click)="selectReadOption(option)">{{option}}</li>
        
    </ul>
</div>

<div [ngClass]="isChecked || isEnableCheckBox ? 'read-all-1':'read-all'" *ngIf="hasMarkAsReadOptions">
    <ul>
        <li *ngFor="let readOption of markAsReadOptionsList" (click)="selectMarkAsReadOption(readOption)" >{{readOption}}</li>
       
    </ul>
</div>

<div class="delete" *ngIf="isDeleteClicked">
    <div class="popup">
        <p>Are you want to delete ?</p>
        <div class="button">
            <button class="cancel" (click)="cancel()">Cancel</button>
            <button class="ok-delete" (click)="delete()">Delete</button>
        </div>
    </div>
</div>