<div class="side-bar" [ngClass]=" isMenuOpen ? 'active':''">
    <div class="compose-mail" (click)="composeMail()">
        <i class="fa-light fa-plus"></i>
        <span>Compose</span>
    </div>
    <div class="nav-links">
        <ul>
           <li  routerLinkActive="active"><a routerLink="/inbox" routerLinkActive="active" ><i  routerLinkActive="active"  class="fa-solid fa-envelope-open"></i>Inbox</a></li>
           <li routerLinkActive="active"><a routerLink="/starred"  routerLinkActive="active" ><i class="fa-solid fa-star"  routerLinkActive="active" ></i>Starred</a></li>
           <!-- <li><a href="#"><i class="fa-solid fa-clock"></i>Snoozed</a></li> -->
           <li routerLinkActive="active"><a routerLink="/sent"  routerLinkActive="active" ><i class="fa-solid fa-circle-right"  routerLinkActive="active" ></i>Sent</a></li>
           <li routerLinkActive="active"><a ><i class="fa-solid fa-file"></i>Drafts</a></li>
           <!-- <li><a href="#"><i class="fa-solid fa-circle-exclamation"></i>Spam</a></li>
           <li><a href="#"><i class="fa-solid fa-tag"></i>Important</a></li> -->
        </ul>
    </div>
    <div class="meetings">
        <b>Meet</b>
        <ul>
            <li><a href="#"><i class="fa-solid fa-video"></i>New meeting</a></li>
            <li><a href="#"><i class="fa-solid fa-keyboard"></i>Join meeting</a></li>
        </ul>
    </div>
</div>