.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .container-form{
        box-shadow: 0 0 10px 0 #318CE7;
        padding: 20px 50px 60px 50px;
        width: 600px;
        @media(max-width:400px){
            width: 360px;
        }
        
        p{
            font-weight: 700;
            font-size: 2em;
            border-bottom: 4px solid #002244;
        }
        form{
            .form-group{
                input{
                    outline: none;
                    border: 1.2px solid #ccc;
                    padding:10px;
                    border-radius: 8px;
                    width: 100%;
                }
                input:focus{
                    border: 1.2px solid #318CE7;
                }
            }
            .button{
                margin-top: 1em;
                button{
                    width: 100%;
                    font-weight: 680;
                    color: #ffff;
                    outline: none;
                    border: none;
                    background-color: #318CE7;;
                    padding: 12px;
                    border-radius: 8px;
                }
                button:hover{
                    background-color: #002244;
                }
            }
        }

    }
}